@import "tailwindcss";

.stat-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem;
  align-items: stretch;
}

@media (max-width: 768px) {
  .stat-grid {
    grid-template-columns: 1fr !important;
  }

  .skills-grid {
    grid-template-columns: 1fr;
  }
}
